body {
	background-color:#9c9c9c;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
} 

/* layout */
#wrap {
	margin-left:auto;
	margin-right:auto;
	width:292px;
	height:328px;
	background-color:#9c9c9c;
	padding:13px;
} .clear {
	clear:both;
} #minWrap { /* wraps the box of minute counters */
	float:right;
	padding-top:17px;
} #circleWrap {
	width:80px;
	float:left;
} #back {
	float:right;
	font-family:"Lucida Console", Monaco, monospace;
} #back a {
	color:black;
	text-decoration:none;
} #countdown {
	float:right;
	padding:auto;
}

/* Look */
.min { /* boxes that mark the minutes */
	width:19px;;
	margin:2px;
	border:5px solid #cecece;
	float:left;
} .ten { /* ten minute marker */	
	height:120px;
	background-color:blue;
} .two { /* two minute marker */
	height:23px;
	background-color:#ff8000;
} .circle { /* generic circle button */	
	margin:9px;
	opacity:0.5;
	width:98px;
	height:98px;
	border-style:solid;;
	border-width:6px;
	border-radius: 55px;
} .circle p { /* START/STOP/RESET text inside circles */
	font-family:"Lucida Console", Monaco, monospace;
	font-weight: bold;
	color: white;
	position:absolute;
	height:1em;
	margin-top:-0.5em;
	top:50%;
	width:1em;
	margin-left:-0.5em;
	left:36%;
	position:relative;
} .click { /* button is clickable */
	opacity:1;
} #start { /* start button */
	background-color:#7ea73f;
	border-color:white;
} #stop { /* stop button */
	background-color:#c90000;
	border-color:white;
} #timeBox { /* box for minute countdown */
	background-color:#696969;
	border:6px solid #cecece;
	width:280px;
	height:68px;
} #timeUnit { /* one minute that moves acros timeBox */
	background-color:white;
	border-right:6px solid #cecece;
	width:0px;
	height:68px;
} #help { /* info button */
	float:right;
	height:40px;
	width:40px;
	padding:5px;
	border-radius:25px;
	background-color:black;
	background-repeat:no-repeat;
	background-position:center;
} #help img {
	padding: 5px 12px;
}.audio {
	display:none;
}